body{
    margin: 0;
    padding:0;
}

.row{
   padding: 0 !important;
   margin: 0 !important;
}

.n {
  opacity: 0;
}

.nav1 {
  height: 100px;
}

.container-fluid{
    padding: 0 !important;
    margin: 0 !important;
}

.navi{
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header{
  color: white;
}

.container{
  background-color: white;
}

footer{
  background-color: #111111;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

a:link,a:visited{
  color: #ffffff;
}

#source {
    color: black;
}

.jumbotron{
  background-color: #f3f3f3;
}

h1,h4{
  font-family: 'Libre Baskerville', serif;
}

.quote2{
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
}

.quote1{
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
}

.quote3{
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
}

.write{
    font-family: 'Libre Baskerville', serif;
}

.grid{
  width: 200px;
  height: 200px;
}


.btn{
  border-radius: 24px;
  background-color: black;
  color: white;
  margin-top: 70px;
  margin-bottom: 70px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

#top {
  float: right;
}


.jumbotron{
  margin: 0;
  width: 100%;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;

}
